<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input [formControl]="myformulario" (keydown.enter)="agregartarea()" class="new-todo" placeholder="Type new todo"
        autofocus type="text" />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <ul *ngFor="let tarea of signaltareas(); index as indice" class="todo-list">
        <li [class.completed]="tarea.estado" [class.editing]="tarea.editable">
          <div (dblclick)="editartarea(indice,tarea.tarea)" class="view">
            <input (click)="completartarea(indice)" [attr.checked]="tarea.estado ? true : null" class="toggle"
              type="checkbox" />
            <label>{{tarea.tarea}}</label>
            <button (click)="borrartarea(indice)" class="destroy"></button>
          </div>
          <input (keydown.enter)="guardaredit(indice)" class="edit" [value]="myformularioedit.value" />
        </li>
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count">
        <strong>{{signaltareas().length}}
        </strong>
        <span *ngIf="signaltareas().length == 1; else elseblock">
          item
        </span>
        <ng-template #elseblock>
          items
        </ng-template>
      </span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a routerLink="/home" class="selected">All</a>
        </li>
        <li>
          <a routerLink="/pending">Pending</a>
        </li>
        <li>
          <a routerLink="/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>
